*~
*.la
*.lo
.#*
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ati.4
ati.4x
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
cscope.files
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.4
xf86-input-acecad-*.tar.*
ChangeLog
tags
